server {
    listen 80;
    server_name kron-x.ru;
    return 301 https://kron-x.ru$request_uri;
}

server {
    listen 80;
    server_name admin.kron-x.ru;
    return 301 https://admin.kron-x.ru$request_uri;
}

server {
    listen 80;
    server_name api.kron-x.ru;
    return 301 https://api.kron-x.ru$request_uri;
}

server {
    listen 443 ssl;
    ssl on;
    ssl_certificate /etc/ssl/kron-x.ru.crt;
    ssl_certificate_key /etc/ssl/kron-x.ru.key;
    server_name kron-x.ru;
    client_max_body_size 100M;

    gzip on;
    gzip_vary on;
    gzip_proxied any;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;


    location / {
        proxy_pass http://127.0.0.1:8081;
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        client_max_body_size 50M;
    }

    location /data/ {
        root /home/gumaonelove/deshevle-tut;
        expires 30d;
        client_max_body_size 50M;
    }

    location /media/ {
        root /home/gumaonelove/deshevle-tut/python_backend;
        expires 30d;
        client_max_body_size 50M;
    }

    location /static/ {
        root /home/gumaonelove/deshevle-tut/golang_backend/frontend;
        expires 30d;
        client_max_body_size 50M;
    }
}

server {
    listen 443 ssl;
    ssl on;
    ssl_certificate /etc/ssl/kron-x.crt;
    ssl_certificate_key /etc/ssl/kron-x.key;
    server_name admin.kron-x;
    client_max_body_size 100M;

    gzip on;
    gzip_vary on;
    gzip_proxied any;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;


    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location /media/ {
        root /home/gumaonelove/deshevle-tut/python_backend;
        expires 30d;
        client_max_body_size 50M;
    }

    location /static/ {
        root /home/gumaonelove/deshevle-tut/python_backend;
        expires 30d;
        client_max_body_size 50M;
    }
}


server {
    listen 443 ssl;
    ssl on;
    ssl_certificate /etc/ssl/kron-x.ru.crt;
    ssl_certificate_key /etc/ssl/kron-x.ru.key;
    server_name api.kron-x.ru;
    client_max_body_size 100M;

    gzip on;
    gzip_vary on;
    gzip_proxied any;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;


    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        client_max_body_size 50M;
    }

    location /data/ {
        root /home/gumaonelove/deshevle-tut;
        expires 30d;
        client_max_body_size 50M;
    }

    location /media/ {
        root /home/gumaonelove/deshevle-tut/python_backend;
        expires 30d;
        client_max_body_size 50M;
    }

    location /static/ {
        root /home/gumaonelove/deshevle-tut/golang_backend/frontend;
        expires 30d;
        client_max_body_size 50M;
    }
}